*
{
    margin: 0;
    padding: 0;
    background-color: black;
}


.container
{
width: 100%;   
}

ul 
{
    list-style: none;
    display: inline;
}

ul li{
    margin-left: 45%;
    margin-top: -3%;
    
    
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-left: 5%;
    
    
    
}

ul li a:hover
{
    color: rgba(73, 182, 73, 1);
}

.btn
{
    margin-left: 8%;
    color: white;
    padding: 9px 25px 9px 25px;
    background: linear-gradient(90deg, #07DA07 0%, #0B430B 91.46%);
    border-radius: 10px;
    border: 1px solid white;
}

.logo
{
    height: 10vh;
    display: inline-block;
    align-items: center;
    margin-left: 3%;
    margin-top: 1%;
    
}



.logo3
{

    margin-left: -58%;
    background-color: transparent;
   
   
    
}

@keyframes updown {
    0%
    {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-40px);
    }

    100%
    {
        transform: translateY(opx);
    }
}

.back
{
    background-image: url('./Assets2/Ellipse\ 1.png');
    background-repeat: no-repeat;
    width: 777.51px;
    height: 562.71px;
     margin-top: 5%;
     margin-left: 45%;
     gap: 0px;
    opacity: 0px;
    
     position: relative;
     display: flex;
     animation-name: updown;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease;

}

.heading
{
    width: 580px;
    color: white;
    margin-left: 4%;
    word-break: break-all;
    margin-top: -35%;
    font-size: 55px;
}

.setbtn
{
    margin-top: 2%;
}

.btn1
{
    margin-left: 4%;
    color: white;
    padding: 9px 25px 9px 25px;
    background: linear-gradient(90deg, #07DA07 0%, #0B430B 91.46%);
    border-radius: 10px;
    border: 1px solid white;
}

.p
{
    color: white;
    font-size: 25px;
    margin-top: 3%;
    width: 450px;
}

/*media query started*/

@media  screen and (max-width:600px) {
    
    ul li{
        margin-top: -14%;
        margin-left: 13%;
    }

    ul li a
    {
        margin-left: 3%;
        font-size: 10px;
    }

  .btn{
    margin-left: 3%;
    margin-top: -5%;
    padding: 3px 7px;
    }

    .logo{
        width: 30px;
    }

    .logo2
    {
       width: 0px;
    }

    .back
    {
       background-image: url('./Assets2/small.png');
        height: 20vh;
        width: 5%;
        margin-left: 25%;
        animation: none;
        height: 40vh;
    }

    .heading
{
    margin-top: 5%;
}
   
.heading p
{
font-size: 25px;
width: 310px;
}


.heading .p
{
    font-size: 15px;
    width: 270px;
}


.setbtn

{
    margin-top: 9%;
}
.btn1{
    padding: 3px 7px;
}
   

}